
<!------>

    <!------>
<div id='all-accounts'>
<br>
<br>
<%# <h1 id="all-accounts-header" class="text-center text-white bg-dark">All Users</h1> %>
    
<% @applicants.each do |applicant| %>

<br>
<br>
<br><br>
<br>
<br>
  <div class="row" id="appli" >
    <div class="col-12 col-md-11 bg-dark  text-light" id="appli-left"  >
      <h1><strong>Name :     </strong><%= applicant.name.capitalize %>  </h1>
      <h1><strong>Email :   </strong><%= applicant.email %> </h1>
<hr>

      <div class="card text-dark">
        <div class="card-header">
          <h1>ABOUT ME</h1>
        </div>
        <div class="card-body " style="font-style:italic">
        <h2><%= applicant.description.capitalize %><h2>
        <br>
        </div>
      </div> 
       <br><br>
    </div>


<div class="col-12 col-md-1" id="appli-right">
 <%= link_to 'Show', applicant,class:"btn btn-primary"%> <br><br>

</div>


</div>

<%end%>
<br>
<br>

<br>



<!------>



















<div id="add-appli">
<% link_to 'New Applicant', new_applicant_path, class:"btn btn-dark" %>
</div>

